$backgroundSection: #edeff1;
$backgroundButton: #fff;
$borderForm: #dedede;
$backgroundFooter: #d75d0e;

$buttonHover: #dd4b2b;
$buttonProductColor: #4b4e73;

$textColorDark: #31353e;
$textColorDarkHover: #edeff1;
$textColorLight: #fff;
$textColorForm: #f3f4f6;

$textColorButton: #4e5159;
$textColorButtonRegular: #612316;

$baseFontSize: 15px;
$lineHeightP: 30px;


$fontSizeNav: 18px;
$fontSizeh2: 30px;
$fontSizeLogo: 36px;
$fontSizeH2: 30px;

$marginBotContentItem: 30px;
$marginTopGlobal: 20px;


$xs: 320px;
$small: 543px;
$medium: 777px;

$fence-xs: $xs $small;
$fence-sm: $small $medium;
$fence-xs-md: $xs $medium;
