.container-welcome {
  background-image: image-url("bg-welcome.jpg");
  @extend .image-param;
  min-height: 100vh;
  color: $textColorLight;
  &-title {
    margin-bottom: $marginBotContentItem;

    h1 {
      font-size: 72px;
      line-height: 48px;
      font-weight: 300;
      @include text-shadow(rgba(#000000, 0.4) 0px 1px 0);
      @include breakpoint($fence-sm) {
        line-height: 72px;
      }
      @include breakpoint($fence-xs) {
        font-size: 50px;
        font-weight: 700;
      }
    }
    h2 {
      line-height: 48px;
      @include text-shadow(rgba(#000000, 0.4) 0px 1px 0);
    }
  }
  .btn-regular {
    padding: 1rem 4rem;
  }
}

.content-item {
  margin-bottom: $marginBotContentItem;
  &-image {
    margin-bottom: $marginBotContentItem;
  }
}
